# project
*.log
test/webbench/webbench

# 排除 .gitkeep
!.gitkeep

# 可执行文件
build/
*.o


# 临时文件
pid
*.out


# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

